:root{
    --dot0-1: -600px;
    --dot0-2: 860px;
    --dot1-1: -600px;
    --dot1-2: 860px;
    --dot2-1: 800px;
    --dot2-2: -660px;
    --dot3-1: 600px;
    --dot3-2: -860px;
}
body {
    background: white !important;
    background: rgb(70, 70, 70) !important;
    overflow-x: hidden;
    color: white !important;
}

#scaleWrapper{
    transform: scale(.99);
    background: linear-gradient(115deg, rgba(130, 109, 249, 0.1), rgba(218, 106, 255, 0.2)) !important;
    background: linear-gradient(115deg, rgba(253, 245, 254, 0.22), rgba(188, 171, 253, 0.22))!important;
    height: 180vh;
    box-shadow: 8px 18px 16px 0px rgb(1, 1, 1, 0.4);
    border-radius: 10px;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}
#bgImage{
    position: absolute;
    height: 130vh;
}
#canvas1 {
    margin-top: 40%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid black;
    margin-bottom: 80%;
}

#canvasBg {
    background: blue;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, 50%);
    border: 5px solid black;
}

#enemyDamaged,
#arrowImage,
#arrowImageLeft,
#arrowImageDown,
#arrowImageUp {
    display: none;
}
.sq{
    margin-left: 2%;
    font-size: 1.12rem;
}
.redSquare{
    margin-bottom: 6px;
    margin-left: 4px;
    margin-top: 2px;
    height: 24px;
    width: 24px;
    background-color: red;
}
.pinkSquare {
    margin-left: 4px;
    margin-top: 2px;
    height: 24px;
    width: 24px;
    background-color: deeppink;
}
.blackSquare {
    margin-left: 4px;
    margin-top: 2px;
    height: 24px;
    width: 24px;
    background-color: black;
}
.yellowSquare{
    margin-left: 4px;
    margin-top: 2px;
    height: 24px;
    width: 24px;
    background-color: yellow;
}
.showNodes{
    display: flex;
}

.brand{
    text-align: center;
}
.wrapper{
    position: fixed;
    border-style: solid;
    border-radius: 2px;
    padding-left: 200px;
    top: 12%;
    right: 30%;
    bottom: 0;
    width: 500px;
    height: 500px;
    z-index: 1;
    display: none;
    border-radius: 8px;
    padding: 6px;
    background: linear-gradient(125deg,  rgba(51, 45, 69, 0.42), rgba(122, 91, 250, 0.42));
    backdrop-filter: blur(20px);
}

.popup li{
    list-style: none;
    margin-top: 4%;
    
}
.instructions{
    font-family: 'Plus Jakarta Sans', sans-serif;
}
#dot {
    position: absolute;
    height: 150px;
    width: 150px;
    z-index: 0;
    background: linear-gradient(180deg, rgb(243, 255, 17), rgb(243, 255, 25));
    left: 34%;
    top: 18%;
    animation: move 3s linear infinite;
}
@keyframes move {
    0%{
        transform: translateX(var(--dot0-1));
    }100%{
        transform: translateX(var(--dot0-2));
    }
}
#dot1 {
    position: absolute;
    height: 150px;
    width: 150px;
    z-index: 0;
    background: linear-gradient(180deg, rgb(17, 120, 255), rgb(41, 101, 252));
    left: 28%;
    top: 18%;
    animation: move1 3.6s linear infinite;
}

@keyframes move1 {
    0% {
        transform: translateY(var(--dot1-1));
    }100% {
        transform: translateY(var(--dot1-2));
    }
}

#dot2 {
    position: absolute;
    height: 150px;
    width: 150px;
    z-index: 0;
    background: linear-gradient(180deg, rgb(173, 31, 255), rgb(208, 65, 255));
    left: 34%;
    top: 82%;
    animation: move2 3.6s linear infinite;
}
@keyframes move2 {
    0% {
            transform: translateX(var(--dot2-1));
    }100% {
            transform: translateX(var(--dot2-2));
    }
}
#dot3{
    position: absolute;
    height: 150px;
    width: 150px;
    z-index: 0;
    background: linear-gradient(180deg, rgb(31, 87, 255), rgb(65, 71, 255));
    left: 64%;
    top: 82%;
    animation: move3 3.6s linear infinite;
}
@keyframes move3 {
    0% {
        transform: translateY(var(--dot3-1));
    }100% {
        transform: translateY(var(--dot3-2));
    }
}
@media only screen and (max-width: 780px) {
    #canvas1{
        transform: scale(0.38);
        left: -46%;
        margin-top: -10%;
    }
    .wrapper{
        width: 300px;
        height: 500px;
        right: 10%;
    }
    #dot{
        width: 50px;
        height: 50px;
    }
    #dot1{
        width: 50px;
        height: 50px;
    }
    #dot2{
        width: 50px;
        height: 50px;
    }
    #dot3 {
        width: 50px;
        height: 50px;
    }
    :root{
        --dot0-1: -200px;
        --dot0-2: 260px;
        --dot1-1: -200px;
        --dot1-2: 660px;
        --dot2-1: 200px;
        --dot2-2: -260px;
        --dot3-1: 600px;
        --dot3-2: -560px;
    }
}